{% extends "base.html" %}
{% block content %}

<form action="" method="POST" name='search'>
	{{ form.hidden_tag() }}
	<div class='search_input'>
		<table>
			<tr>
				<td>{{ form.query(size=80) }}</td>
				<td><input type='submit' value='Search'></td>
			</tr>
			<tr>
				<td>
				{% for error in form.query.errors %}
					<span style='color:red;font-size:12'> {{ error }} </span>
				{% endfor %}
				</td>
			</tr>
		</table>
	</div>
	
</form>
<div class='search_result' style='width:100%'>
	<div style='float:left; width:20%'>
	<table>
		{% for r in res %}
		<tr>
			<td>
				<span><a href='#' onclick="document.getElementById('contentFrame').src='{{ r[0] }}' ">{{ r[1] }}</a></span>
			</td>
		</tr>
		{% endfor %}
	</table>
</div>
<div style="float:right;width:80%;">
	{% if res is defined and res|length > 0 %}
	<iframe id='contentFrame' name='contentFrame' src='{{ res[0][0] }}' style="width:100%; height:100%" />
	{% endif %}
</div>

{% endblock %}
